* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 10px;
    background-color: #EEE;
}

.card-task-form {
    background-color: white;
    margin: 20px;
    padding: 10px;
    text-align: center;
    
}